# Operators

In [1]:
10+5

15

In [2]:
10-5

5

In [3]:
10*5

50

In [4]:
10/5

2.0

In [5]:
10%2

0

In [6]:
10^2

8

In [7]:
10**2

100

In [8]:
type(10)

int

In [11]:
type(10.0)

float

In [12]:
"Hello"

'Hello'

In [13]:
print("Hello")

Hello

In [14]:
i=10

In [15]:
type(i)

int

In [16]:
s="hello"

In [17]:
type(s)

str

In [19]:
print(s)

hello

In [22]:
a=20
b=10

In [23]:
print(a*b)
print(a/b)
print(a%b)
print((a*b) + (a/b)) #BODMAS

200
2.0
0
202.0

# Strings

In [24]:
print("My first name is {} and last name is {}".format("Charu","Makhijani"))

My first name is Charu and last name is Makhijani

In [26]:
print("My first name is {first_name} and last name is {last_name}".format(first_name="Charu", last_name="Makhijani"))

My first name is Charu and last name is Makhijani

In [27]:
len("Charu")

5

In [28]:
len("Makhijani")

9

# Boolean

In [29]:
bool()

False

In [30]:
type(True)

bool

In [32]:
type(False)

bool

# Sting Functions

In [43]:
str ="CharuMakhijani"

In [44]:
print(str.isalnum())
print(str.isalpha())

True
True

In [45]:
str = "Charu123"
print(str.isalnum())
print(str.isalpha())

True
False

In [47]:
str = "Charu"
print(str.startswith('C'))
print(str.islower())

True
False

# List

In [48]:
my_list=[] # Mutable,Changeable, ordered sequence of elements

In [49]:
type(my_list)

list

In [50]:
lst = list()

In [51]:
type(lst)

list

In [52]:
lst=['abc','def', 1,2, 3]

In [55]:
type(lst)

list

In [56]:
len(lst)

5

In [57]:
lst.append("Hello")

In [58]:
lst

['abc', 'def', 1, 2, 3, 'Hello']

In [60]:
lst[2], lst[5]

(1, 'Hello')

In [61]:
lst.insert(5, "hi")

In [62]:
lst

['abc', 'def', 1, 2, 3, 'hi', 'Hello']

In [63]:
lst[2], lst[5]

(1, 'hi')

In [64]:
lst[:2]

['abc', 'def']

In [65]:
lst[2:5]

[1, 2, 3]

In [66]:
lst[5:]

['hi', 'Hello']

In [67]:
lst

['abc', 'def', 1, 2, 3, 'hi', 'Hello']

In [68]:
lst.append(['Charu','Makhijani'])

In [69]:
lst

['abc', 'def', 1, 2, 3, 'hi', 'Hello', ['Charu', 'Makhijani']]

In [70]:
lst[-1]

['Charu', 'Makhijani']

In [71]:
lst.extend(['Charu','Gupta'])

In [72]:
lst

['abc',
 'def',
 1,
 2,
 3,
 'hi',
 'Hello',
 ['Charu', 'Makhijani'],
 'Charu',
 'Gupta']

In [74]:
lst=[1,2,3,4,5]
sum(lst)

15

In [75]:
lst.pop()

5

In [76]:
lst.pop(0)

1

In [77]:
lst

[2, 3, 4]

In [78]:
lst=[1,1,2,3,3,3,4,5]
lst.count(1)

2

In [79]:
len(lst)

8

In [80]:
lst.index(1)

0

In [81]:
lst.index(1,1,4)

1

In [82]:
min(lst)

1

In [83]:
max(lst)

5

In [84]:
lst=[1,2,3,4,5]
lst*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Set

In [90]:
my_set=set()
print(my_set)

set()

In [91]:
print(type(my_set))

<class 'set'>

In [92]:
my_set={1,2,2,3,3,4}
my_set

{1, 2, 3, 4}

In [93]:
my_set={"abc","def","xyz"}
print(my_set)
print(type(my_set))

{'def', 'abc', 'xyz'}
<class 'set'>

In [94]:
my_set.add("Champ")

In [95]:
my_set

{'Champ', 'abc', 'def', 'xyz'}

In [96]:
my_set1={"abc","def","xyz"}
my_set2={"abc","def","xyz","Champ"}
my_set2.difference(my_set1)

{'Champ'}

In [97]:
my_set2.intersection_update(my_set1)

In [99]:
my_set2

{'abc', 'def', 'xyz'}

# Dictionary

In [100]:
dict1={}

In [101]:
type(dict1)

dict

In [102]:
dic={1,2,3,4,5}
type(dic)

set

In [104]:
type(dict())

dict

In [105]:
my_dict ={'car1': 'Audi', 'car2': 'CRV', 'car3': 'BMW'}

In [106]:
type(my_dict)

dict

In [108]:
my_dict['car1']

'Audi'

In [109]:
for x in my_dict:
    print(x)

car3
car1
car2

In [110]:
for x in my_dict.values():
    print(x)

BMW
Audi
CRV

In [111]:
for x in my_dict.items():
    print(x)

('car3', 'BMW')
('car1', 'Audi')
('car2', 'CRV')

In [112]:
my_dict['car4']='Audi2.0'

In [113]:
my_dict

{'car1': 'Audi', 'car2': 'CRV', 'car3': 'BMW', 'car4': 'Audi2.0'}

In [114]:
my_dict['car1'] = 'Tesla'

In [115]:
my_dict

{'car1': 'Tesla', 'car2': 'CRV', 'car3': 'BMW', 'car4': 'Audi2.0'}

# Nested Dictionary

In [119]:
car1_model = {'BMW': 1960}
car2_model = {'Tesla': 2019}
car3_model = {'Tesla 2.0': 2020}

car_type = {'car1': car1_model, 'car2': car2_model, 'car3': car3_model}

In [120]:
car_type

{'car1': {'BMW': 1960}, 'car2': {'Tesla': 2019}, 'car3': {'Tesla 2.0': 2020}}

In [121]:
car_type['car1']

{'BMW': 1960}

In [123]:
car_type['car1']['BMW']

1960

# Tuple

In [124]:
my_tuple = tuple()

In [125]:
my_tuple

()

In [126]:
type(my_tuple)

tuple

In [142]:
my_tuple = ('a','b','c')
my_tuple

('a', 'b', 'c')

In [143]:
type(my_tuple)

tuple

In [144]:
my_tuple[0]

'a'

In [145]:
my_tuple[0] = "x"

TypeError: 'tuple' object does not support item assignment

In [146]:
my_tuple = ("Hello","World")
my_tuple

('Hello', 'World')

In [147]:
my_tuple[0]

'Hello'

In [148]:
my_tuple.count('hello')

0

In [149]:
my_tuple.count('Hello')

1

In [150]:
my_tuple.index('Hello')

0